[submodule "vendor/gems/grit"]
	path = vendor/gems/grit
	url = git://github.com/mojombo/grit.git
[submodule "vendor/gems/flannel"]
	path = vendor/gems/flannel
	url = git://github.com/rubyyot/flannel.git
[submodule "vendor/gems/diff-lcs"]
	path = vendor/gems/diff-lcs
	url = git://github.com/defunkt/diff-lcs.git
[submodule "vendor/gems/mime-types"]
	path = vendor/gems/mime-types
	url = git://github.com/halostatue/mime-types.git
[submodule "vendor/gems/wonki"]
	path = vendor/gems/wonki
	url = git://github.com/rubyyot/wonki.git
[submodule "vendor/gems/rack-cache"]
	path = vendor/gems/rack-cache
	url = git://github.com/rtomayko/rack-cache.git
