<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta name="description" content="Rubyyot.com is my experiment; part wiki, part blog, part brain dump.  Topics may be scattered according to my interests, ranging from Ruby to teaching my kids to program.">
<meta name="keywords" content="rubyyot, ruby, rails, wiki, rack, thoughts, Jamal Hansen, teaching kids, programming, flannel">
<title>
Rubyyot.com - <%= route_name %>
</title>
<link rel="stylesheet" href="http://rubyyot.com/css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="http://rubyyot.com/css/style.css" type="text/css" media="screen" />
</head>
<body>

  <div id="trunk">
    <h2 id="location"><%= route_name %></h2>

    <div id="content">
    <%= content %>
    </div>

    <div id="comments">
    <!-- Start disqus comments -->
    <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/rubyyot/embed.js"></script><noscript><a href="http://disqus.com/forums/rubyyot/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    <script type="text/javascript">
    //<![CDATA[
    (function() {
	    var links = document.getElementsByTagName('a');
	    var query = '?';
	    for(var i = 0; i < links.length; i++) {
	    if(links[i].href.indexOf('#disqus_thread') >= 0) {
		    query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	    }
	    }
	    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/rubyyot/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
    </script>
    <!-- End disqus comments -->
    <script type="text/javascript" src="http://rubyyot.com/javascript/jquery.js"></script> 
    <script type="text/javascript" src="http://rubyyot.com/javascript/jquery.corner.js"></script> 
    <script type="text/javascript"> 
	    $(function(){	// shorthand for $(document).ready() BTW
	    $("pre").corner("10px");
	    });
    </script> 
    </div>
  </div>
</body>
</html> 
